/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpintel/5f69fb7880b3c62e1b84279c64746555
.phpintel/index
.phpintel/3c4bb1512bb014cd6d39618e1127cadc
.phpintel/1d465a83e8a5dd880bf521eb82f1a75c
