.venue-modal {
    background: white;
    z-index: 5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
a.venue-modal, a.venue-modal:hover {
    text-decoration: none;
    color: inherit;
}
a.venue-modal:hover {
    color: $blue;
}
a.venue-modal {
    transition: all .3s ease-in-out;
}
.venue-modal__name {
    font-size: 16px;
    font-weight: 700;
    float: left;
    margin-right: 20px;
}

.venue-modal__img img {
    width: 100%;
}

.venue-modal__img {
    flex-basis: 28%;
}

.venue-modal__content {
    flex-basis: 70%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.venue-modal__address {
    font-size: 12px;
}

.venue-modal__actions {
    float: right;
    margin-right: 15px;
}

.venue-modal__actions .btn.btn-primary {
    font-size: 12px;
}
