::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #EEEEEE;
    border-radius: 32px;
}

::-webkit-scrollbar-thumb {
    background: #2f82ff;
    border-radius: 32px;
}
.navbar-meetin2 {
    max-width: 50vw;
    position: absolute;
    right: 0;
    z-index: 99;
    top: 30px;
    border-top-left-radius: 53px;
    border-bottom-left-radius: 53px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.11);
    background-color: #fff;
    .navbar-brand {
        padding: 0 0 0 20px;
        h2 {
            margin: 0;
        }
    }
}
.meetin-app {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    .meetin-sidebar {
        position: absolute;
        width: 26%;
        left: 35px;
        bottom: 0;
        max-height: 80vh;
        z-index: 1;
    }
    .meetin-search__wrapper {
        margin-bottom: 20px;
        box-shadow: 0 10px 30px rgba(0,0,0,0.11);
        background-color: #fff;
    }

    .meetin-map {
        position: absolute;
        width: 100%;
    }
    .meetin-results {
        box-shadow: 0 10px 30px rgba(0,0,0,0.11);
        background-color: #fff;
    }
}
.meetin-search__results-header {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #EFEFEF;
    h3 {
        text-align: right;
        padding-right: 15px;
    }
}

.meetin-search__results {
    max-height: 68vh;
    overflow-y: auto;
}


.meetin-search__result {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #EEEEEE;
}

.meetin-result__img {
    flex-basis: 30%;
}

.meetin-result__img img {
    width: 100%;
}

.meetin-result__content {
    flex-basis: 42%;
}

.meetin-result__content, .meetin-result__actions {
    padding-top: 10px;
}

.meetin-result__content p {
    font-size: 14px;
    color: #767676;
    font-weight: normal;
    margin: 0;
}

.meetin-result__content p:first-of-type {
    margin-bottom: 10px;
}

.meetin-result__actions {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-basis: 25%;
}

.meetin-result__actions .btn.btn-primary {
    box-shadow: none;
}
