@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,700,900|Roboto:400,700');
// Body
$body-bg: #f5f8fa;

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$font-family-sans-serif: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family: $font-family-sans-serif;
$poppins: 'Poppins', 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$border-radius: 22px;
$font-size-base: 1rem;

//Colours
$blue: #2F82FF;
$navbar-light-active-color: $blue;


$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1400px
);
