.headline-10 {
    color: #A3A3A3;
    font-size: 18px;
}
.navbar-brand {
    h2 {
        font-weight: 800;
        letter-spacing: 2px;
    }
}
.headline-11 {
    color: #8a8a8a;
    font-weight: 700;
    font-size: 18px;
    margin: 0;
}

.headline-12 {
    font-size: 18px;
    font-weight: 700;
    color: #444;
}